<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beijing.chengxin" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/login_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="sensorPortrait"
        android:theme="@style/AppTheme" >
        <activity android:name=".ui.activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.activity.PersonDetailActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.activity.EnterpriseDetailActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".ui.activity.ItemDetailActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".ui.activity.ComedityDetailActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".ui.activity.HotDetailActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".ui.activity.MakeEvaluationActivity"
            android:screenOrientation="sensorPortrait" />

        <!-- Me relation activities -->
        <activity
            android:name=".ui.activity.BuyCertActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.activity.ChengxinLogActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.activity.MyEvalActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.activity.EvalMeActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.activity.MyErrorCorrectActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.activity.MyWriteActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.activity.MakeComedityActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.activity.VideoPlayActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.activity.EvalDetailActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".ui.activity.MyRealnameCertActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".ui.activity.ChengxinReportActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".ui.activity.MakeItemActivity"
            android:screenOrientation="sensorPortrait" />

        <activity android:name=".ui.activity.MyCollectActivity"
            android:screenOrientation="sensorPortrait" />

        <activity android:name=".ui.activity.OpinionReturnActivity"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".ui.activity.MySettingActivity"
            android:screenOrientation="sensorPortrait" />

        <activity android:name=".ui.activity.SystemNewsActivity"
            android:screenOrientation="sensorPortrait" />

    </application>

</manifest>