.init-div-horizontal {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.init-div-vertical {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
body {
    /*background-color: #f5f5f5;*/
}
.navbar-fixed-bottom {
    background-color: #fff;
}
.navbar-fixed-bottom .menu-btn p  {
    margin-top: 2px;
    color: #ababab;
}
.navbar-fixed-bottom .menu-btn.active p  {
    color: #3e6dbb;
}
.navbar-fixed-bottom .menu-index img {
    content: url("../img/tab_icon_index_pre@3x.png");
}
.navbar-fixed-bottom .menu-index.active img {
    content: url("../img/tab_icon_index_set@3x.png");
}
.navbar-fixed-bottom .menu-order img {
    content: url("../img/tab_icon_order_pre@3x.png");
}
.navbar-fixed-bottom .menu-order.active img {
    content: url("../img/tab_icon_order_set@3x.png");
}
.navbar-fixed-bottom .menu-news img {
    content: url("../img/tab_icon_news_pre@3x.png");
}
.navbar-fixed-bottom .menu-news.active img {
    content: url("../img/tab_icon_news_set@3x.png");
}
.navbar-fixed-bottom .menu-profile img {
    content: url("../img/tab_icon_profile_pre@3x.png");
}
.navbar-fixed-bottom .menu-profile.active img {
    content: url("../img/tab_icon_profile_set@3x.png");
}
.init-div {
    padding: 0;
    margin: 0;
}
.map-bg {
    background: rgba(255, 255, 255, 0.8);
}
.btn-red {
    border: 1px solid #f82545;
    color: #f82545 !important;
}
.btn-grey {
    border: 1px solid #9b9b9b;
    color: #9b9b9b !important;
}
.diancan .top_desc ::-webkit-input-placeholder {
    color: gray !important;
}
.input_search:active, .input_search:hover, .input_search:focus {
    border: none !important;
}
.map .list_row {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px 15px;
}
.map .list_row_internal {
    height: 100%;
    border-bottom: solid 1px #dedede;
    padding-top: 20px;
}
.map .btn_search_line {
    width: 80px;
    height: 30px;
    background: url("../../assets/img/btn_search_line.png") no-repeat;
    background-size: cover;
    margin: auto;
}
.map .s_start {
    width: 15px;
    height: 20px;
    background: url("../../assets/img/index2_icon_start@2x.png") no-repeat;
    background-size: cover;
    float: left;
    margin-right: 20px;
    margin-top: -2px;
}
.map .s_end {
    width: 15px;
    height: 20px;
    background: url("../../assets/img/index2_icon_destination@2x.png") no-repeat;
    background-size: cover;
    float: left;
    margin-right: 20px;
    margin-top: -2px;
}
.serv_detail .list_row {
    height: 130px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px 0px;
}
.serv_detail .list_row_internal {
    height: 100%;
    border-bottom: solid 1px #dedede;
    padding: 16px;
}
.serv_detail .list_row_internal .row_img img {
    width: 90%;
    height: 96px;
}
.serv_detail .list_row_internal .title {
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 15px;
}
.serv_detail .list_row_internal .des {
    margin-bottom: 3px;
    line-height: 19px;
}
.waimai .list_row {
    height: 95px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px 0px;
}
.waimai .list_row_internal {
    height: 100%;
    border-bottom: solid 1px #dedede;
    padding: 16px;
}
.waimai .list_row_internal .row_img img {
    width: 84%;
    height: 60px;
}
.waimai .list_row_internal .title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}
.waimai .list_row_internal .des {
    margin-bottom: 3px;
    line-height: 19px;
}
.waimai .btn_transfer {
    width: 50px;
    height: 14px;
    background: url("../../assets/img/home_icon_stamp@2x.png") no-repeat;
    background-size: cover;
    float: right;
    margin-top: 2px;
}
.list_row_internal {
    color: #303030;
}
.top_bg img{
    width: 100%;
    height: 170px;
}
.waimai .menu_symbol {
    max-width: 55px;
    margin: auto;
}
.waimai .menu_symbol img{
    max-width: 50px;
    max-height: 50px;
}
.waimai .menu_title {
    max-width: 55px;
    margin: auto;
    padding-top: 6px;
}
.waimai .bell {
    background: url("../../assets/img/home_icon_inform@2x.png") no-repeat;
    background-size: contain;
    width: 9px;
    height: 11px;
    float: left;
    margin-right: 2px;
}
.waimai .border {
    height: 7px;
    background-color: #f5f5f5;
    border: none;
}
.diancan .top_desc .list_row {
    background-color: #3e6dbb;
}
.diancan .left_bar {
    /*overflow: auto;*/
}
.diancan .left_bar .list_row {
    height: 60px;
    padding: 0px 5px;
    background-color: #f4f4f4;
}
.diancan .left_bar .list_row_internal {
    height: 100%;
    border-bottom: dashed 1px #dedede;
    padding-top: 18px;
    text-align: center;
}
.diancan .left_bar .list_row.active {
    background-color: white;
}
.diancan .badge {
    margin-top: -13px;
    background-color: #3271c0;
    padding: 3px;
    height: 13px;
    font-size: 12px !important;
    line-height: 0.7;
}
.diancan .right_bar .list_row {
    height: 106px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px 0px;
}
.diancan .right_bar .list_row_internal {
    height: 100%;
    border-bottom: solid 1px #dedede;
    padding: 16px 10px;
}
.diancan .right_bar .list_row_internal .row_img img {
    width: 90%;
    height: 60px;
}
.diancan .right_bar .list_row_internal .title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}
.diancan .right_bar .list_row_internal .des {
    margin-bottom: 5px;
}
.diancan .right_bar .list_row_internal .des {
    margin-bottom: 5px;
    line-height: 19px;
}
.cart_oper {
    max-width: 85px;
    float: right;
}
.btn_minus {
    background: url("../../assets/img/foodshop_btn_minus@2x.png") no-repeat;
    background-size: contain;
    width: 17px;
    height: 17px;
    float: left;
    margin-top: 1px;
    margin-right: 10px;
}
.btn_plus {
    background: url("../../assets/img/foodshop_btn_add@2x.png") no-repeat;
    background-size: contain;
    width: 17px;
    height: 17px;
    float: left;
    margin-top: 1px;
    margin-left: 10px;
}

.btn_addcart {
    background: url("../../assets/img/foodshop_btn_addcart@2x.png") no-repeat;
    background-size: contain;
    width: 33px;
    height: 28px;
    float: left;
    margin-top: 0px;
    margin-left: 17px;
}

.oper_amount {
    float: left;
    font-weight: bold;
    font-size: 15px;
}
.bt_cart {
    position: fixed;
    height: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #535353;
    color: white;
}
.bt_cart .bt_cart_inner {
    padding: 10px 10px 10px 25px;
}
.bt_cart .ic_cart {
    background: url("../../assets/img/foodshop_btn_shopcart@2x.png");
    background-size: contain;
    width: 31px;
    height: 28px;
    float: left;
    margin-top: 4px;
}
.bt_cart .badge {
    margin-top: -13px;
    background-color: #3271c0;
    padding: 3px;
    height: 14px;
    font-size: 12px !important;
    line-height: 0.7;
    margin-left: 25px;
    border: solid 1px white;
}
.bt_cart .des {
    float: right; 
    font-size: 15px; 
    font-weight: bold; 
    margin-top: 20px;
    text-align: center;
}
.bt_cart .price {
    float: left; margin-left: 20px;
}
.bt_cart .oper {
    height: 100%;
    background-color: #3271c0;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 14px;
}
.btn_order {
    background-color: blue;
}
.cart_detail {
    padding: 0px;
}
.cart_detail .list_row {
    height: 65px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px 0px;
    font-size: 15px;
}
.cart_detail .list_row_internal {
    height: 100%;
    border-bottom: solid 1px #dedede;
    padding: 23px 16px;
}
.my_modal {
    max-width: 300px;
    margin: auto;
    margin-top: 200px;
}
.my_modal .modal-content {
    border: none;
    box-shadow: none;
    float: left;
    margin-top: -14px;
}
.my_modal .btn_close {
    background: url("../../assets/img/foodshop_maskbtn_close@2x.png") no-repeat;
    background-size: contain;
    width: 29px;
    height: 29px;
    float: right;
    position: absolute;
    top: -30px;
    right: 0px;
    z-index: 9999 !important;
}
.cart_modal {
    width: 100%;
    margin: auto;
    position: fixed;
    bottom: 60px;
}
.cart_modal .modal-content {
    border: none;
    box-shadow: none;
}
a.no_underline:active, a.no_underline:hover {
    text-decoration: none;
}
.main-body {
    /*margin-top: 51px;*/
    margin-bottom: 70px;
}
.navbar-fixed-top .page-title {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
}
@media (min-width: 768px) { 
    .navbar-fixed-top .page-title {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .navbar-fixed-top .page-title {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .navbar-fixed-top .page-title {
        width: 1170px;
    }
}
.navbar-fixed-top .page-indicate {
    width: 100%;
    margin-top: 15px;
    color: white;
    font-size: 15px;
}
.navbar-fixed-top .page-indicate-right {
    width: 24px;
    margin-top: 24px;
}
.delivery {
    background-color: #fff;
}
.delivery .tabbable-line > .nav-tabs > li.active {
    border-bottom: 2px solid #3e6dbb;
    position: relative;
}
.delivery .tabbable-line > .nav-tabs > li.active > a {
    color: #3d6eba;
    font-weight: bold;
}
.delivery .tabbable-line > .nav-tabs > li > a {
    font-weight: bold;
}
.delivery .shop-list-title {
    font-size: 18px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}
.delivery .shop-list-content {
    font-size: 18px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}
.delivery .shop-list-date {
    font-size: 15px;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.delivery .stop-list-price {
    font-size: 19px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    color: #ff3f59;
}
.delivery .shop-list-state-sending {
    font-size: 18px;
    color: #3d6eba;
}
.delivery .shop-list-state-complete {
    font-size: 18px;
    color: #999999;
}
.delivery .shop-list-state-label-sending {
    border: 1px solid #3e6dbb;
    color: #3e6dbb;
}
.delivery .privacy-list-title {
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}
.delivery .privacy-list-content {
    margin-top: 7px;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999999;
    white-space: nowrap;
}
.delivery .privacy-list-date {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    color: #999999;
}
.delivery .privacy-detail-title {
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}
.delivery .privacy-detail-content {
    margin-top: 7px;
    font-size: 13px;
    color: #333333;
}
.delivery .privacy-detail-date {
    font-size: 13px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    color: #333333;
}
.delivery .img-shadow {
    box-shadow: 1px 1px 3px 1px #888;
}
.delivery .img-profile {
    border-radius: 50% !important;
}
.delivery .profile-title {
    font-size: 16px;
    font-weight: bold;
}
.delivery .profile-phone {
    font-size: 14px;
    color: #585858;
    font-weight: bold;
}
.delivery .profile-content {
    font-size: 14px;
    color: #585858;
    font-weight: bold;
}
.delivery .send-count-title {
    font-size: 12px;
    color: #ff9197;
    font-weight: bold;
    position: absolute;
    top: 68px;
    left: 78.6%;
    text-align: center;
}
.delivery .send-count-content {
    font-size: 20px;
    color: #ff9197;
    font-weight: bold;
}
.delivery .update-pwd-title {
    font-size: 16px;
    color: #585858;
    font-weight: bold;
    line-height: 32px;
}
.delivery .update-pwd-content {
    font-size: 16px;
    color: #585858;
    font-weight: bold;
    border: 0; 
    width: 90%;
    line-height: 32px;
    padding-left: 5px;
    padding-right: 5px;
}
.delivery .btn-green {
    height: 45px;
    background-color: #3e6dbb;
    color: #fff;
    font-size: 20px;
    border: 1px solid #3e6dbb;
}
.delivery .order-detail-title {
    font-size: 18px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    color: #333333;
}
.delivery .order-detail-content {
    font-size: 15px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    color: #333333;
}
.delivery .order-info-title-layout {
    padding:10px 0 5px 0;
    background: white;
}
.delivery .order-info-content-layout {
    margin-top: 10px;
    padding-right: 15px;
}


.delivery .hr {
    height: 1px;
    background-color: #dedede;
}
.custom-badge-circle{
    position: absolute;
    top: -7px;
    right: -7px;
    border-radius: 50% !important;
    height: 12px;
    width: 12px;
    background-color: #F3565D;
    background-image: none;   
}

.radius-image-view{
    border-radius: 50% !important;
    margin-top: -270px;
    box-shadow: 0px 15px 14px 0px #EEE;
}

.phone-title{
    margin-top:-80px;
    font-weight: bold;
    font-size: 18px;
}

.phone-number{
    margin-top:-50px;
    font-size: 16px;
}

.delivery.shop .hr{
    height: 1px;
    background-color:#f5f5f5;
}

.custom-modal-footer{
    padding:0px;
    text-align:center;
    border-top:1px solid #e5e5e5;
    height: 50px;
}

.modal-button{
    border: 0;
    font-size: 18px;
    background: white;
    margin-top: 6%;
}

.custom-modal-body{
    height: 100px;
    position:relative;
    padding:40px 0px 0px 70px;
}

.custom-phone-number{
    color: #3D6DBB;
    font-size: 20px;
}

.story-img-back{
    width: 80%;
    margin-left: 9%;
    margin-top: 3%;
}

.story-img-button{
    margin-top: 13%;
    width: 35%;
}

.story-img-border-left-bottom{
    margin-left: 4%;
    margin-right: -4%;
    border-bottom: 1px solid #B3515B;
    margin-top: 2.5%;
}

.story-img-border-right-bottom{
    margin-left: -4%;
    margin-right: -4%;
    border-bottom: 1px solid #B3515B;
    margin-top: 2.5%;
}

.story-descript-font{
    font-size: 14px;
    font-weight: bold;
    margin-left: 4%;
    margin-right: 4%;
    color:#000;
}

.custom-text-over-status{
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}