#search-form .form-body {
    line-height: 36px !important;
}

.bootbox .modal-dialog .modal-content {
    width: 400px;
}

.bootbox .modal-dialog .modal-content .modal-body {
    font-size: 14px;
}

.modal .modal-header {
    background: #fee4eb;
    text-align: center;
}

a.logo,
a.logo:hover,
a.logo:active
{
    font-size: 28px !important;
    text-decoration: none !important;
}

.dataTable th,
.dataTable td {
    vertical-align: middle !important;
    text-align: center !important;
}